@media screen and (max-device-width:480px) {
    .sudoku-left, .sudoku-center,.sudoku-right{
        width: 100%;
        height: 33%;
    }

    /*Left Structure - The Title*/
    .sudoku-left-content{
        flex-direction: column;
    }
    .sudoku-left-content img{
        width: 40%;
        height: 100%;
    }
    .sudoku-left-content .message{
        width: 40%;
        height: 100%;
        font-size: 60%;
    }

    /*Center Structure - The Board*/
    .sudoku-board{
        height: 100%;
    }
    .sudoku-grid{
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }

    /*Right Structure - The Rules and The Result*/
    .sudoku-right-content{
        padding: 10px;
    }
    .sudoku-rules{
        width: 50%;
        height: 90%;
        border: 2px solid red;
        font-size: 60%;
    }
    .sudoku-winner{
        width: 50%;
        height: 16%;
        margin-left: 5px;
        border: 2px solid green;
        font-size: 60%;
    }
    .sudoku-right-content #replay{
        width: 50%;
        height: 16%;
        margin-left: 5px;
        font-size: 50%;
    }
}