@media screen and (max-device-width:480px) {
    .tic-tac-toe-left, .tic-tac-toe-center,.tic-tac-toe-right{
        width: 100%;
        height: 33%;
    }

    /*Left Structure - The Title*/
    .tic-tac-toe-left-content{
        flex-direction: column;
    }
    .tic-tac-toe-left-content img{
        width: 40%;
        height: 100%;
    }
    .tic-tac-toe-left-content .message{
        width: 40%;
        height: 100%;
        font-size: 60%;
    }

    /*Center Structure - The Board*/
    .tic-tac-toe-board{
        height: 100%;
    }
    .tic-tac-toe-grid{
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }

    /*Right Structure - The Rules and The Result*/
    .tic-tac-toe-right-content{
        padding: 10px;
    }
    .tic-tac-toe-rules{
        width: 50%;
        height: 90%;
        border: 2px solid red;
        font-size: 60%;
    }
    .tic-tac-toe-turn{
        width: 50%;
        height: 16%;
        margin-left: 5px;
        border:2px solid black;
        font-size: 60%;
    }
    .tic-tac-toe-winner{
        width: 50%;
        height: 16%;
        margin-left: 5px;
        border: 2px solid green;
        font-size: 60%;
    }
    .tic-tac-toe-right-content #replay{
        width: 50%;
        height: 16%;
        margin-left: 5px;
        font-size: 50%;
    }
}