html,body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/background.jpg");
    background-size: 100% 100%;
}

.main-body{
    height: 80%;
    width: 80%;
    border: 10px groove rgb(216, 103, 37);
    border-radius: 10px;
    padding: 10px;
}

#heading{
    margin: auto;
    width: 100%;
    height: 15%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
}

#game{
    margin: auto;
    width: 100%;
    height: 85%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    position: relative;
}

#tic-tac-toe, #sudoku{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tic-tac-toe-button{
    width: 50%;
    height: 50%;
    background-image: url("images/logo-ttt.png");
    background-size: 100% 100%;
    border: 10px groove rgb(216, 103, 37);
    border-radius: 10px;
    transition: transform 0.2s;
}
#tic-tac-toe-button:hover{
    transform: scale(1.2);
}
#ttt-game-div{
    position: absolute;
    height: 100%;
    transition: transform 0.5s;
    transform: scale(0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;;
}
#ttt-game-div.active{
    transform: scale(1);
}

#sudoku-button{
    width: 50%;
    height: 50%;
    background-image: url("images/logo-sudoku.png");
    background-size: 100% 100%;
    border: 10px groove rgb(216, 103, 37);
    border-radius: 10px;
    transition: transform 0.2s;
}
#sudoku-button:hover{
    transform: scale(1.2);
}